# Craft environment
.env.php
.env.sh
.env

# Craft license
license.key

# Composer
/vendor

# Craft storage
/storage/*
!/storage/.gitkeep

# Assets
/public/assets/*

# Build files
/node_modules
/npm-debug.log

# Misc files
.cache
.DS_Store
