{% minify %}
{% set baseUrl = alias('@web') ~ '/' %}

<!doctype html>
<html lang="{{ craft.app.language|slice(0,2) }}">
<head>

  {% include "_partials/global_header" %}

  {% include "_seo/meta" %}

  <link rel="preload" href="{{ baseUrl }}dist/styles.css" as="style">
  <link rel="stylesheet" href="{{ baseUrl }}dist/styles.css">
</head>

<body class="font-sans text-grey-darkest">
  {% include "_partials/info_header" %}

  {% block content %}{% endblock %}

  {% include "_partials/info_footer" %}

  {% include "_partials/cookie_box" %}

  <script src="{{ baseUrl }}dist/bundle.js"></script>
</body>
</html>
{% endminify %}
